<%- include("partials/Header") -%>
<%- include("partials/Navbar") -%>

<div id="main" class="wrapper">
    
 
    <div class="cont text-center">
        <h1 class="my-4">Book Library</h1>
        <div class="btn-group" role="group" aria-label="Filter Genre">
        </div>
        </div>
    
</div>

<%- include("partials/Footer") -%>
